*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    background-color: #f4f9fd;
    color: #33475b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.container{
    width: 70%;
    margin: auto;
}

a{
    text-decoration: none;
    color: #33475b;
    font-size: 0.8rem;
}
.btn{
    border-radius: 5px;
    color: white;
    padding:0.6rem;
    background-color: #fe775a;
    
    
}
li{
    list-style: none;
    display: inline-block;
}
p{
    font-size: 0.85rem;
    line-height: 1.5rem;
    font-weight: 600;
}
h3{
    font-size: 1.4rem;
}
/* ++++++++++++++++++++
        HEADER 
++++++++++++++++++++++++*/

/* TOP MENU */
.top_menu{
    line-height: 70px;
    font-size: 0.9rem;
    font-weight: 600 ; 
}
/* left menu */
.left_menu{
    float: left;
}

.right_menu{
    float: right;
}

.left_menu > img{
    height: 13px;
}
.drop{
    margin-right: 10px;
    padding-right: 10px;
    border-right: 2px solid #33475b;
}
/* right menu */

.right_menu>img{
    height: 14px;
    position: relative;
    top:3px
}
.reverse_clr{
    background-color: #f4f9fd;
    border:1px solid #fe775a;
    color: #fe775a;;
}
.right_menu > *{
    margin-left: 20px;
}

/* NAVBAR */
nav{
    border-top:  1px solid #33475b;
    line-height: 70px;
    background-color: white;
}
.logo{
    position: relative;
    top:10px;
}
.container>ul{
    float: right;
}
.container>ul>li{
    margin-left: 15px;
    font-size: 0.9rem;
    font-weight: 600 ; 
}

/* HEADER PRESENTATION */

.bg{
    background-color: rgb(254,245,237);
    height: 520px;
    background-repeat: no-repeat;
    background-image: url("../img/header/jumbotron.png");
    background-position: 100% 0%;
    background-size: 80%;
}

.header_presentation{
    padding-top: 70px;
    width: 50%;
    height: 520px;
}
.header_presentation > *{
    margin-top: 30px;
    display: inline-block;
}
.header_presentation > h1{
    font-size: 2.5rem;
    font-weight: 800;
}

.header_presentation a{
    font-size: 0.75rem;
    padding: 1.1rem 2.5rem;
    margin-right: 6rem;
}
.header_presentation span{
    font-size: 0.60rem;
    font-weight: 600;
}

.separator{
    height: 100px;
    background-color: #afebe4;
    border-top: 5px solid #33475b;
    border-bottom: 5px solid #33475b;
}

/* ++++++++++++++++++++
        MAIN 
++++++++++++++++++++++++*/

/* MAIN CLAIM */

.main_claim{
    text-align: center;
    padding-top: 60px;
}
.main_claim img{
    height: 200px;
}
.main_claim h2{
   
    font-size: 1.7rem;
    margin-bottom: 30px;
}
.main_claim p{
    width: 70%;
    margin: 0 auto 50px auto;

}

/* FREE HUB */

.free_hub{
    background-color: white;
    padding: 4rem;
    margin-bottom: 50px;
    border-radius: 4px;
    box-shadow: 1px 1px 7px lightgrey;
}

.learn{
    width: 20%;
    text-align: center;
    float: left;
}

.learn img{
    height: 90px;
    margin: 0 40px 40px 40px;
}
.learn .btn{
    padding: 1.2rem 2.2rem;
    margin-top: 30px;
}

.features{
    float: left;
    width: 80%;
    padding-right: 50px;
    padding-left: 50px;
    
}
.features > *{
    margin-bottom: 20px;
}
h4{
    display: inline-block;
    margin-right:40px;
}
.divisor{
    position: relative;
    top: 15px;
    display: inline-block;
    width: 65%;
    border-bottom: 3px solid grey; 
}
.feature{
    font-size: 0.8rem;
    margin-right: 20px;
    font-weight: 600;
}
.feature > i{
    font-size: 0.5rem;
    background-color: #fe775a;
    color: white;
    border-radius: 100px;
    padding:3px;
    position:relative;
    bottom: 2px;
    margin-right: 10px;
}
