*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    background-color: #f4f9fd;
    color: #33475b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.container{
    width: 70%;
    margin: auto;
}

a{
    text-decoration: none;
    color: #33475b;
    font-size: 0.8rem;
}
.btn{
    border-radius: 5px;
    color: white;
    padding:0.6rem;
    background-color: #fe775a;
    
    
}
li{
    list-style: none;
    display: inline-block;
}
/* ++++++++++++++++++++
        HEADER 
++++++++++++++++++++++++*/

/* TOP MENU */
.top_menu{
    line-height: 75px;
    font-size: 0.9rem;
    font-weight: 600 ; 
}
/* left menu */
.left_menu{
    float: left;
}

.right_menu{
    float: right;
}

.left_menu > img{
    height: 13px;
}
.drop{
    margin-right: 10px;
    padding-right: 10px;
    border-right: 2px solid #33475b;
}
/* right menu */

.right_menu>img{
    height: 14px;
    position: relative;
    top:3px
}
.reverse_clr{
    background-color: #f4f9fd;
    border:1px solid #fe775a;
    color: #fe775a;;
}
.right_menu > *{
    margin-left: 20px;
}

/* NAVBAR */
nav{
    border-top:  1px solid #33475b;
    line-height: 75px;
    background-color: white;
}
.logo{
    position: relative;
    top:10px;
}
.container>ul{
    float: right;
}
.container>ul>li{
    margin-left: 15px;
    font-size: 0.9rem;
    font-weight: 600 ; 
}

/* HEADER PRESENTATION */

.bg{
    background-color: rgb(254,245,237);
    height: 520px;
    background-repeat: no-repeat;
    background-image: url("../img/header/jumbotron.png");
    background-position: 100% 7%;
    background-size: 80%;
}

.header_presentation{
    padding-top: 70px;
    width: 50%;
    height: 520px;
}
.header_presentation > *{
    margin-top: 30px;
    display: inline-block;
}
.header_presentation > h1{
    font-size: 2.5rem;
    font-weight: 800;
}
.header_presentation p{
    font-size: 0.85rem;
    line-height: 1.5rem;
}
.header_presentation a{
    font-size: 0.75rem;
    padding: 1.1rem 2.5rem;
    margin-right: 6rem;
}
.header_presentation span{
    font-size: 0.60rem;
    font-weight: 600;
}